* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* max-width: 400px; */
    font-family: 'Source Sans Pro', sans-serif;
}

/* ====================
    Typography
   ====================*/

.primary-title {
    margin: 0;
}

.date {
    font-size: .75rem;
    order: -1;
}

.article-title {
    font-size: 1.5rem;
    margin: 0 0 .25em;
}

.article-text {
    margin: 0;
    line-height: 1.25;
}

.link {
    color: inherit;
    font-weight: 700;
    text-align: center;
    margin: 1.75em 0 2.5em 0;
}

/* ====================
    Layouts
   ====================*/

.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0, 500px) minmax(1em, 1fr);
}

@media (min-width: 600px) {
    .main-grid {
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(180px, 320px)) minmax(1em, 1fr);
        gap: 0 1.25em;
    }
}

.navigation {
    grid-column: 2 / -2;
}

.logo {
    display: flex;
    align-items: center;
    gap: .5em;
}

.logo-img {
    width: 1.5em;
    height: 1.5em;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    gap: 1em;
}

ul a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
}

.hero {
    background: rgb(175, 105, 1) url("images/article-img-hero.png");
    background-size: cover;
    color: #fff;
    padding: 5em 0 2em;
}

.hero > * {
    grid-column: 2 /-2;
}

@media (min-width: 600px) {
    .hero {
        padding: 8em 0 3em;
        background-position: top right;
    }

    .hero > * {
        grid-column: 2 / span 2;
    }
}


/* Blog card */

.blog-card {
    display: flex;
    flex-direction: column;
    margin-top: 2.25em;
    grid-column: 2 /-2;
}

.blog-img {
    order: -1;
    width: 100%;
}

@media (min-width: 600px) {
    .blog-card {
        grid-column: span 1  ;
    }

    .blog-card:first-child {
        grid-column: 2 / span 1;
    }
}

/* ====================
    Footer
   ====================*/

.footer {
    color: #fff;
    background-color: #202020;
    text-align: center;
    font-size: .85rem;
    padding: 1.5em 0;
    grid-template-areas: 
        ". main main"
        "social . .";
}

 .footer-main {
    border: 1px solid red;
    text-align: start;
    grid-area: main;
 }

 .social-list {
    grid-area: socail;
    list-style: none;
    display: flex;
    gap: 0 1em;
    margin-right: 3em;
 }

 .social-link    {
    font-size: 1.25rem;
 }

 .social-link:hover {
    color: #777;
 }

 @media (min-width: 600px) {
    .footer {
        text-align: start;
        grid-template-areas: 
        ". main socail . .";
    }
 }