* {
    box-sizing: border-box;
    /* background-color: rgb(175, 105, 1, 0.3); */
}

body {
    margin: 0;
    padding: 0;
    /* max-width: 400px; */
    font-family: 'Source Sans Pro', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

/* ====================
    Typography
   ====================*/

.primary-title {
    margin: 0;
}

.date {
    font-size: .75rem;
    order: -1;
}

.article-title {
    font-size: 1.5rem;
    margin: 0 0 .25em;
}

.article-text {
    margin: 0;
    line-height: 1.25;
}

.link {
    color: inherit;
    font-weight: 700;
    text-align: center;
    margin: 1.75em 0 2.5em 0;
}

/* ====================
    Layouts
   ====================*/

.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0, 500px) minmax(1em, 1fr);
}

@media (min-width: 600px) {
    .main-grid {
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(150px, 320px)) minmax(1em, 1fr);
        gap: 0 1.25em;
    }
}

/* Navigation */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2 / -2;
}

.logo {
    display: flex;
    align-items: center;
    gap: .5em;
}

.logo-img {
    width: 1.5em;
    height: 1.5em;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 1em;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
}

/* Hero section */

.hero {
    background: rgb(175, 105, 1) url("images/article-img-hero.png");
    background-size: cover;
    color: #fff;
    padding: 5em 0 2em;
}

.hero > * {
    grid-column: 2 /-2;
}

@media (min-width: 600px) {
    .hero {
        padding: 8em 0 3em;
        background-position: top right;
    }

    .hero > * {
        grid-column: 2 / span 2;
    }
}

/* Blog card */

.blog-card {
    display: flex;
    flex-direction: column;
    margin-top: 2.25em;
    grid-column: 2 /-2;
}

.blog-img {
    order: -1;
    width: 100%;
}

@media (min-width: 600px) {
    .blog-card {
        grid-column: span 1  ;
    }

    .blog-card:first-child {
        grid-column: 2 / span 1;
    }
}

/*  Footer  */
.footer {
    color: #fff;
    background-color: #202020;
    padding: 1.5em 0;
    text-align: center;
    font-size: .85rem;

    grid-template-areas: 
        ". social ."
        ". main .";
}

 .footer-main {
    grid-area: main;
 }

 .social-list {
    grid-area: social;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 0 1em;
}

 .social-link {
    color: #fff;
    font-size: 1.25rem;
 }

 .social-link:hover {
    color: #777;
 }

@media (min-width: 600px) {
    .footer {
        grid-template-areas: 
        ". main social . .";
    }

    .footer-main {
        text-align: left;
    }

    .social-list {
        justify-content: flex-start;
    }
}

/*  Main template  */

.main-template > * {
    grid-column: 2 / -2;
}

.section-title:first-child{
    margin-top: 0;
}

.section-title::after {
    content: "";
    display: block;
    background: #FFE600;
    width: 60px;
    height: 3px;
    margin-top: .25em;
}

.page-title,
.subtitle {
    text-align: center;
    justify-self: center;
}

.page-title::after {
    content: "";
    display: block;
    background: #FFE600;
    width: 100%;
    height: .75em;
    margin-top: -20px;
    margin-left: 12px;
}

.main-image {
    border-radius: 50%;
    /* box-shadow: 5px 5px 0px black, 10px 10px 0 #FFE600; */
}

@media (min-width: 600px) {
    .main-image {
        grid-column: 2;
    }

    .main-text {
        grid-column: 3 / span 2;
    }
}